.ss-content {
  display: flex;
  align-items: center;
  gap: 50px;
}

.ss-content p {
  font-family: inter, sans-serif;
  font-size: 21px;
  font-weight: medium;
  color: #47663b;
  background: #ffffff;
  border-radius: 10px;
  width: 600px;
  height: 363px;
  padding: 40px;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ss-content img {
  width: 443px;
  height: 320px;
}
