.au-container {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.au-card {
  background: #ffffff;
  width: 1100px;
  height: 400px;
  padding: 40px 50px;
  border-radius: 15px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.08);
}

.au-card p {
  color: #47663b;
  font-family: inter, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
