.title {
  text-align: center;
  color: #1f4529;
  font-family: "merriweather sans", sans-serif;
}

.title h1 {
  font-size: 50px;
  font-weight: 700;
  margin-top: 150px;
}

.title2 {
  font-family: "inter", sans-serif;
  font-size: 45px;
  font-weight: 600;
  color: #1f4529;
  text-transform: none;
}

.title p {
  font-family: "inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #47663b;
  margin-bottom: 40px;
  margin-top: 10px;
  text-transform: none;
}
