.pemilahan-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
}

.pemilahan-card {
  width: 250px;
  text-align: center;
}

/* gambar ilustrasi sampah bawah */
.jenis-sampah {
  width: 250px;
  height: auto;
  margin: 15px auto 10px;
  display: block;
}

.pemilahan-card h3 {
  font-size: 20px;
  font-weight: 700;
  color: #2d4e2d;
  margin-bottom: 5px;
}

.pemilahan-card p {
  font-size: 14px;
  color: #555;
  line-height: 1.4;
}

/* belum betul */
.isiEdukasiPemilahan h2 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  max-width: 900px;
  margin: 60px auto 50px;
  line-height: 1.2;
  white-space: nowrap;
}

.card-isiEdukasiPemilahan {
  background: #fff;
  max-width: 1100px;
  margin: 40px auto;
  padding: 40px 50px;
  border-radius: 15px;
}

.card-isiEdukasiPemilahan p {
  font-size: 18px;
  color: #47663b;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 20px;
}
